.condition {
  text-align: center;
  width: 40%;
}
.menu {
  display: inline-block;
  width: 100%;
}
.cel {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  border: solid 1.5px #000;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.output {
  text-align: center;
  height: 100px;
  width: 40%;
  padding: 0 auto;
  margin: 10px;
}

.btn {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background-color: #337ab7;
  width: 200px;
  height: 50px;
  cursor: pointer;
}
.btn:hover {
  background-color: #1f4a70;
}

textarea {
  height: 100px;
  width: 100%;
}